/* Background Effects */
body {
    position: relative;
    overflow-x: hidden;
}

.background-glow {
    position: absolute;
    width: 1200px;
    height: 800px;
    top: 400px;
    left: -306px;
    opacity: 0.9;
    pointer-events: none;
    z-index: -1;
    filter: blur(100px);
    mix-blend-mode: color-dodge;
}

.background-container {
    position: absolute;
    top: 330px;
    left: 0;
    width: 100%;
    height: 100%;
}