.banner-slider {
    display: flex;
    gap: 2rem;
    padding: 20px;
    padding-left: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.slider-item {
    flex: 1;
    background: transparent;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
    text-align: center;
    padding: 2rem;
    border: 1px solid transparent;
    pointer-events: none;
}

.slider-item[data-index="0"] {
    border-color: #FF002F;
}

.slider-item[data-index="1"] {
    border-color: #934DC2;
}

.slider-item[data-index="2"] {
    border-color: #FF7F30;
}

.slider-item.active {
    opacity: 1;
    transform: scale(1.05);
    z-index: 2;
    background-color: #101010;
}

.slider-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    justify-content: center;
}

.slider-icon img {
    width: 56px;
    height: 56px;
}

.slider-text {
    flex: 1;
}

.slider-title {
    text-align: left;
    color: #FFFFFF;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 600;
    margin-bottom: 2px;
}

.slider-description {
    text-align: left;
    color: #90A6BE;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 0px;
}

.progress-bar {
    width: 60%;
    height: 6px;
    background: #3D4B5B;
    border-radius: 10px;
    margin: 15px auto;
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background: #FF3045;
    border-radius: 10px;
    transition: width 0.1s linear;
}

.slider-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .banner-slider {
        flex-direction: column;
        padding: 10px;
    }

    .slider-item.active {
        transform: scale(1.02);
    }

    .slider-title {
        font-size: 1.2rem;
    }

    .slider-description {
        font-size: 1rem;
    }
}