
@media (max-width: 1440px) {
    .feature-title {
        font-size: 1.1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 768px) {
    .features-content {
        flex-direction: column;
    }

    .feature-title {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

body {
    position: relative;
    overflow-x: hidden;
}

.background-glow {
    position: absolute;
    width: 1200px;
    height: 800px;
    top: 400px;
    left: -306px;
    opacity: 0.9;
    pointer-events: none;
    z-index: -1;
    filter: blur(100px);
    mix-blend-mode: color-dodge;
}

.background-container {
    position: absolute;
    top: 330px;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-container {
    width: 100%;
    max-width: 1200px;
    margin: 1.5rem auto;
    padding: 10px;
    padding-left: 0px;
    /* overflow: hidden; */
    background: transparent;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.banner-left {
    flex: 1;
}

.banner-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.players-image {
    width: 660px;
    height: auto;
    object-fit: contain;
}

.banner-text-wrapper {
    position: relative;
    margin-bottom: 1rem;
}

.banner-background {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: auto;
    height: 100%;
}

.blue-effect-image {
    width: 200px;
    height: auto;
    opacity: 0.8;
}

.banner-text {
    position: relative;
    z-index: 1;
}

.banner-title {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .banner-title {
        font-size: 1.8rem;
    }

    .banner-subtitle {
        font-size: 1.8rem !important;
    }
}

.banner-subtitle {
    background: linear-gradient(to right,
            #0055FF 0%,
            #4F8AFF 29%,
            #0090FF 68%,
            #55AAFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 600;
    margin-top: -14px;
    display: inline-block;
    background-size: 200% auto;
    animation:
        pulsatingBetPrompt 2.5s ease-in-out infinite,
        gradientFlow 2s linear infinite;
    padding: 0 5px;
}

@keyframes pulsatingBetPrompt {

    0%,
    100% {
        transform: scale(1);
        text-shadow: 0 2px 10px rgba(0, 144, 255, 0.3);
    }

    50% {
        transform: scale(1.03);
        text-shadow: 0 4px 20px rgba(80, 175, 255, 0.6);
    }
}

@keyframes gradientFlow {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: -200% center;
    }
}

.sports-buttons {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    background: linear-gradient(to right,
            #0055FF 0%,
            #0055FF 29%,
            #0090FF 68%,
            #2E2EFF 100%);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.sports-buttons:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 85, 255, 0.3);
}

.sports-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.sports-button:hover {
    transform: scale(1.05);
}

.sports-icon {
    width: 20px;
    height: 20px;
}

.separator {
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .banner-content {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .banner-right {
        width: 100%;
    }

    .banner-left {
        width: 100%;
        text-align: center;
    }

    .sports-buttons {
        margin: 0 auto;
        width: auto;
    }

    .players-image {
        max-height: 200px;
        margin: 0 auto;
        width: 100%;
    }
}

.banner-slider {
    display: flex;
    gap: 2rem;
    padding: 20px;
    padding-left: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.slider-item {
    flex: 1;
    background: transparent;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
    text-align: center;
    padding: 2rem;
    border: 1px solid transparent;
    pointer-events: none;
}

.slider-item[data-index="0"] {
    border-color: #FF002F;
}

.slider-item[data-index="1"] {
    border-color: #934DC2;
}

.slider-item[data-index="2"] {
    border-color: #FF7F30;
}

.slider-item.active {
    opacity: 1;
    transform: scale(1.05);
    z-index: 2;
    background-color: #101010;
}

.slider-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    justify-content: center;
}

.slider-icon img {
    width: 56px;
    height: 56px;
}

.slider-text {
    flex: 1;
}

.slider-title {
    text-align: left;
    color: #FFFFFF;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 600;
    margin-bottom: 2px;
}

.slider-description {
    text-align: left;
    color: #90A6BE;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 0px;
}

.progress-bar {
    width: 60%;
    height: 6px;
    background: #3D4B5B;
    border-radius: 10px;
    margin: 15px auto;
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background: #FF3045;
    border-radius: 10px;
    transition: width 0.1s linear;
}

.slider-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .banner-slider {
        flex-direction: column;
        padding: 10px;
    }

    .slider-item.active {
        transform: scale(1.02);
    }

    .slider-title {
        font-size: 1.2rem;
    }

    .slider-description {
        font-size: 1rem;
    }
}

.table-wrap {
    background-color: transparent;
}

.tabs-nav {
    background: linear-gradient(to right,
            #2D0F0E 0%,
            #411717 47%,
            #2A0B03 100%);
}

.tabs-nav__btn.active {
    background: linear-gradient(to right,
            #FF0033 0%,
            #FF002F 26%,
            #FF4800 68%,
            #FF2E32 100%);
    border-radius: 10px;
}

.last-bets-wrapper .table-wrap {
    background-color: transparent;
}

.xtable thead th {
    padding: 20px !important;
}

.xtable thead {
    background: linear-gradient(to right,
            #110300 0%,
            #411717 47%,
            #110300 100%);
    border-radius: 10px;
    margin-bottom: 12px;
}

.xtable tbody tr {
    background-color: #1A0905 !important;
    margin-bottom: 6px;
    border-radius: 6px;
    display: table-row;
}

.xtable tr:nth-child(even),
.xtable tr:nth-child(odd) {
    background-color: #1A0905 !important;
}

.xtable tr {
    background-color: #1A0905 !important;
}

.xtable tbody td {
    padding: 12px !important;
}

.ss-main {
    background-color: #1F0907 !important;
    border-radius: 10px;
}

.table-wrap__head {
    padding-left: 0px;
    margin-bottom: 20px;
}

#last-bets-wrapper .section .container {
    padding-left: 10px;
}

.xtable thead th {
    padding: 20px !important;
}

.tabs-nav__btn:hover {
    color: white !important;
}
